<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>>, initial-scale=1.0">
    <base href="'/">
    <link rel="stylesheet" type="text/css" href="/css/favorite.css" />
    <title>Favorite City</title>
</head>

<body>
    <header>
        <label>
            <div class="daynight" onClick="switchMode()">
                <div id="moon" class="moon"></div>
              </div>
         </label>

        <h1>Favorite city</h1>
    </header>
    <main>
        <div id="favoritelocation">
            <% for (i = 0; i < vremeorase.length; i++) { %>
                <div class="favcity">
                    <div class="cut1">
                        <p class="namecity">
                            <%=  vremeorase[i].oras %>
                        </p>

                        <p class="statusvreme">
                            <%= vremeorase[i].descriere %>
                        </p>
                    </div>
                    <div class="cut2">
                        <p class="tempcity">
                            <%= vremeorase[i].temp %>
                        </p>
                        <div class="tempextreme">
                            <p>H:</p>
                            <p class="temcitymax">
                                <%=  vremeorase[0].tempmax %>

                            </p>
                            <p>L:</p>
                            <p class="temcitymin">
                                <%=  vremeorase[0].tempmin %>
                            </p>
                        </div>
                    </div>


                </div>
                <% }; %>

        </div>
    </main>
    <script>
        let favoras = document.querySelectorAll(".favcity")
        favoras.forEach((element) => {
            element.classList.add('daystyle')
        })


        function switchMode() {
            let moon = document.getElementById("moon");

            if (moon.className == "moon") {
                moon.className = "sun";
                document.body.classList.remove('day')
                document.body.classList.add('night')
                favoras.forEach((element) => {
                    element.classList.add('nightstyle')
                    element.classList.remove("daystyle")
                })
            } else {
                moon.className = "moon";
                document.body.classList.add('day')
                document.body.classList.remove('night')
                favoras.forEach((element) => {
                    element.classList.remove('nightstyle')
                    element.classList.add("daystyle")
                })
            }
        }
    </script>
</body>

</html>