<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="'/">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b0f990c8c7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>Wather App</title>
</head>

<body>
    <header>
        <p id="cityheader"></p>
        <p id="tempheader"></p>

    </header>
    <main>

        <div class="container">
            <div class="boxOne">
                <h1 id="cityname">
                    <%=weather.city%>
                </h1>
                <h2 id="citytemperature">
                    <%= weather.temperature%>
                </h2>
                <p id="status">
                    <%=weather.description%>
                </p>
                <div id="minmax">
                    <p>H:
                        <p id="tempmax">
                            <%=weather.temp_max%>
                        </p>
                    </p>
                    <p>L:
                        <p id="tempmin">
                            <%=weather.temp_min%>
                        </p>
                    </p>
                </div>
            </div>
            <div class="boxTwo">
                <div id="miniboxone">
                    <i id="clock"><span>Clock</span></i>
                    <p class="titlebox">HOURLY FORECAST</p>
                    <%weather.forEach(function(weather){%>
                        <div id="card1">
                            <div class="watherOnDay">
                                <p class="day">
                                    <%=weather.ore%>
                                </p><i class="cloud"><span></span></i>
                                <p id="tempmin">
                                    <%=weather.gradeore%>
                                </p>
                                <p id="tempmax"></p>
                            </div>
                        </div>
                        <%});%>

                </div>
                <div id="miniboxtwo">
                    <i id="date"><span>Date</span></i>
                    <p class="titlebox">7-DAY FORECAST</p>
                    <div id="card2">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <a href="#"><span>favorite</span></a>
    </footer>


</body>

</html>