<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="'/">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b0f990c8c7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>Wather App</title>
</head>

<body>
    <header>
        <p id="cityheader"></p>
        <p id="tempheader"></p>

    </header>
    <main>

        <div class="container">
            <div class="boxOne">
                <h1 id="cityname">
                    <%= city %>
                </h1>
                <h2 id="citytemperature">
                    <%= temperature %>°
                </h2>
                <p id="status">

                </p>
                <div id="minmax">
                    <p>H:
                        <p id="tempmax">
                            <%= temp_max %>°
                        </p>
                    </p>
                    <p>L:
                        <p id="tempmin">
                            <%= temp_min %>°
                        </p>
                    </p>
                </div>
            </div>
            <div class="boxTwo">
                <div id="miniboxone">
                    <i id="clock"><span>Clock</span></i>
                    <p class="titlebox">HOURLY FORECAST</p>
                    <div id="card1">
                        <div class="boxHour">

                            <p class="time">
                                <%= ore[0] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%= gradeore[0] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[1] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%= gradeore[1] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[2] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%= gradeore[2] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[3] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%= gradeore[3] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[4] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%= gradeore[4] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[5] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%=gradeore[5] %>°</p>
                        </div>
                        <div class="boxHour">
                            <p class="time">
                                <%= ore[6] %>
                            </p>
                            <i class="cloud"><span></span></i>
                            <p class="temponhour">
                                <%=gradeore[6] %>°</p>
                        </div>
                    </div>
                </div>
                <div id="miniboxtwo">
                    <i id="date"><span>Date</span></i>
                    <p class="titlebox">7-DAY FORECAST</p>
                    <div id="card2">
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[0] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[0] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[0] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[1] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[1] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[1] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[2] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[2] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[2] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[3] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[3] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[3] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[4] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[4] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[4] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[5] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[5] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[5] %>°
                            </p>
                        </div>
                        <div class="watherOnDay">
                            <p class="day">
                                <%= zile[6] %>
                            </p><i class="cloud"><span></span></i>
                            <p id="tempmin">
                                <%= tempzilemin[6] %>°
                            </p>
                            <p id="tempmax">
                                <%= tempzilemax[6] %>°
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <a href="#"><span>favorite</span></a>
    </footer>


</body>

</html>