<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="'/">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/b0f990c8c7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>Wather App</title>

    <script>
        navigator.geolocation.getCurrentPosition(yourLocation);

        function yourLocation(postition) {
            let coord = JSON.stringify({
                lat: postition.coords.latitude,
                lon: postition.coords.longitude
            })
            fetch('/getCords', {
                    method: "POST",
                    body: coord,
                    headers: {
                        "Content-Type": "application/json",
                        'Accept': 'application/json'
                    },
                })
                .then((response) => {
                    console.log(response)
                }).catch((error) => {
                    console.log(error)
                })

        }
    </script>


</head>

<body>
    <header>
        <a id="yourLocation" onclick="location.href='/getCords'"><span>Your location</span></a>
        <%if( weather !== null){ %>

            <p id="tempheader">
                <%= temperature.toFixed(0) %>°</p>
            <% } %>

                <div class="daynight" onClick="switchMode()">
                    <div id="moon" class="moon"></div>
                </div>

                <a id="favoritepage" onclick="location.href='/favorite'">Favorite Page</a>
                <a id="addfavorite"><span>Add to</span> </a>

    </header>
    <main>
        <form action="/" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Search for a City" required>
            <button type="submit" id="butoncity">Get Weather</button>
        </form>
        <%if( weather !== null){ %>
            <div class="container">
                <div class="boxOne">
                    <h1 id="cityname">
                        <%= city %>
                    </h1>
                    <h2 id="citytemperature">
                        <%= temperature.toFixed(0) %>°
                    </h2>
                    <p id="status">
                        <% if(description==0) { %>
                            Clear

                            <%  }%>
                                <% if(description==1) { %>
                                    Mainly Clear

                                    <%  }%>
                                        <% if(description==2) { %>
                                            Partly cloudy
                                            <%  }%>
                                                <% if(description==3) { %>
                                                    Overcast
                                                    <%  }%>
                                                        <% if(fog.includes(description)) { %>
                                                            Fog
                                                            <%  }%>
                                                                <% if(drizzle.includes(description)) { %>
                                                                    Drizzle
                                                                    <%  }%>
                                                                        <% if(rain.includes(description)) { %>
                                                                            Rain
                                                                            <%  }%>
                                                                                <% if(snow.includes(description)) { %>
                                                                                    Snow
                                                                                    <%  }%>
                                                                                        <% if(storm.includes(description)) { %>
                                                                                            Thunderstorm
                                                                                            <%  }%>
                    </p>
                    <div id="minmax">
                        <p>H:
                            <p id="tempmax">
                                <%= temp_max.toFixed(0) %>°
                            </p>
                        </p>
                        <p>L:
                            <p id="tempmin">
                                <%= temp_min.toFixed(0) %>°
                            </p>
                        </p>
                    </div>
                </div>
                <div class="boxTwo">
                    <div id="miniboxone">
                        <i id="clock"><span>Clock</span></i>
                        <p class="titlebox">HOURLY FORECAST</p>
                        <div id="card1">
                            <div class="boxHour">
                                <div class="timetemp">
                                    <% for (i = 0; i < ore.length; i++) { %>

                                        <p class="time">

                                            <%= new Date(ore[i]).toLocaleTimeString().replace(':00:00','')%>
                                        </p>
                                        <% if(i==23) {%>
                                            <%break %>
                                                <%} %>

                                                    <% }; %>
                                </div>
                                <div class="timetemp">
                                    <% for (i = 0; i < descriptionore.length; i++) { %>
                                        <% if(descriptionore[i]==0) { %>
                                            <i class="sun"><span>  <%= descriptionore[i] %></span></i>
                                            <%  }%>
                                                <% if(suncloud.includes(descriptionore[i])) { %>
                                                    <i class="suncloud"><span>  <%= descriptionore[i] %></span></i>
                                                    <%  }%>
                                                        <% if(descriptionore[i]==3) { %>
                                                            <i class="cloud"><span>  <%= descriptionore[i] %></span></i>
                                                            <%  }%>
                                                                <% if(fog.includes(descriptionore[i])) { %>
                                                                    <i class="fog"><span>  <%= descriptionore[i] %></span></i>
                                                                    <%  }%>
                                                                        <% if(drizzle.includes(descriptionore[i])) { %>
                                                                            <i class="fog"><span>  <%= descriptionore[i] %></span></i>
                                                                            <%  }%>
                                                                                <% if(rain.includes(descriptionore[i])) { %>
                                                                                    <i class="rain"><span>  <%= descriptionore[i] %></span></i>
                                                                                    <%  }%>
                                                                                        <% if(snow.includes(descriptionore[i])) { %>
                                                                                            <i class="snow"><span>  <%= descriptionore[i] %></span></i>
                                                                                            <%  }%>
                                                                                                <% if(storm.includes(descriptionore[i])) { %>
                                                                                                    <i class="furtuna"><span>  <%= descriptionore[i] %></span></i>
                                                                                                    <%  }%>
                                                                                                        <% if(i==23) {%>
                                                                                                            <%break %>
                                                                                                                <%} %>
                                                                                                                    <% }; %>
                                </div>
                                <div class="timetemp">
                                    <% for (i = 0; i < gradeore.length; i++) { %>
                                        <p class="temponhour">
                                            <%= gradeore[i].toFixed(0) %>°</p>
                                        <% if(i==23) {%>
                                            <%break %>
                                                <%} %>
                                                    <% }; %>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="miniboxtwo">
                        <i id="date"><span>Date</span></i>
                        <p class="titlebox">7-DAY FORECAST</p>
                        <div id="card2">
                            <div class="watherOnDay">
                                <div class="daytemp">
                                    <% for (i = 0; i < zile.length; i++) { %>
                                        <p>
                                            <%= new Date(zile[i]).toString().slice(0,3) %>
                                        </p>

                                        <% }; %>
                                </div>
                                <div class="daytemp">
                                    <% for (i = 0; i < descriptionday.length; i++) { %>
                                        <% if(descriptionday[i]==0) { %>
                                            <i class="sun"><span>  <%= descriptionday[i] %></span></i>
                                            <%  }%>
                                                <% if(suncloud.includes(descriptionday[i])) { %>
                                                    <i class="suncloud"><span>  <%= descriptionday[i] %></span></i>
                                                    <%  }%>
                                                        <% if(descriptionday[i]==3) { %>
                                                            <i class="cloud"><span>  <%= descriptionday[i] %></span></i>
                                                            <%  }%>
                                                                <% if(fog.includes(descriptionday[i])) { %>
                                                                    <i class="fog"><span>  <%= descriptionday[i] %></span></i>
                                                                    <%  }%>
                                                                        <% if(drizzle.includes(descriptionday[i])) { %>
                                                                            <i class="fog"><span>  <%= descriptionday[i] %></span></i>
                                                                            <%  }%>
                                                                                <% if(rain.includes(descriptionday[i])) { %>
                                                                                    <i class="rain"><span>  <%= descriptionday[i] %></span></i>
                                                                                    <%  }%>
                                                                                        <% if(snow.includes(descriptionday[i])) { %>
                                                                                            <i class="snow"><span>  <%= descriptionday[i] %></span></i>
                                                                                            <%  }%>
                                                                                                <% if(storm.includes(descriptionday[i])) { %>
                                                                                                    <i class="furtuna"><span>  <%= descriptionday[i] %></span></i>
                                                                                                    <%  }%>

                                                                                                        <% }; %>
                                </div>
                                <div class="daytemp">
                                    <% for (i = 0; i < tempzilemin.length; i++) { %>
                                        <p id="tempmin">
                                            <%= tempzilemin[i].toFixed(0) %>°
                                        </p>
                                        <% }; %>
                                </div>
                                <div class="daytemp">
                                    <% for (i = 0; i < tempzilemax.length; i++) { %>
                                        <p id="tempmin">
                                            <%= tempzilemax[i].toFixed(0) %>°
                                        </p>
                                        <% }; %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <% if(error !== null){ %>
                    <p>
                        <%= error %>
                    </p>
                    <% } %>
    </main>

    <script>
        const butonadd = document.getElementById('addfavorite');
        butonadd.addEventListener('click', function() {
            const numeoras = JSON.stringify({
                oras: document.getElementById("cityname").textContent.trim(),
                temp: document.getElementById('citytemperature').textContent.trim(),
                descriere: document.getElementById('status').textContent.trim(),
                tempmax: document.getElementById('tempmax').textContent.trim(),
                tempmin: document.getElementById('tempmin').textContent.trim(),

            })
            fetch('/add_favorite', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        'Accept': 'application/json'
                    },
                    body: numeoras

                })
                .then((response) => {
                    console.log(response)
                }).catch((error) => {
                    console.log(error)
                })
        })
        let boxone = document.querySelector('#miniboxone')
        let boxtwo = document.querySelector('#miniboxtwo')
        let input = document.querySelector('.ghost-input')
        let butcity = document.querySelector('#butoncity')
        boxone.classList.add('daystyle')
        boxtwo.classList.add('daystyle')
        butcity.classList.add('daystyle')

        function switchMode() {
            let moon = document.getElementById("moon");
            if (moon.className == "moon") {
                moon.className = "sun";
                document.body.classList.remove('day')
                document.body.classList.add('night')
                boxone.classList.add('nightstyle')
                boxtwo.classList.add('nightstyle')
                boxone.classList.remove('daystyle')
                boxtwo.classList.remove('daystyle')
                butcity.classList.remove('daystyle')
                butcity.classList.add('nightstyle')
            } else {
                moon.className = "moon";
                document.body.classList.add('day')
                document.body.classList.remove('night')
                boxone.classList.remove('nightstyle')
                boxtwo.classList.remove('nightstyle')
                boxone.classList.add('daystyle')
                boxtwo.classList.add('daystyle')

                butcity.classList.add('daystyle')

                butcity.classList.remove('nightstyle')
            }
        }
    </script>

</body>

</html>